* {
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.container{
    display:grid;
    height: 40vh;
    padding: 40px;
    margin: auto;
    grid-template-columns: 1fr 2fr;
}

.container2{
    display:grid;
    height: 60vh;
    padding:40px;
    margin: auto;
    grid-template-columns: 1fr 4fr;
}


.menu1{
   background:url("https://clauem2.arrowtheme.com/media/mgs/fbuilder/promobanners/5/_/5.png")no-repeat;
   background-size: cover; 
   display: flex;
   flex-direction: column;
   justify-content: center;padding-left: 20px;
   
}

.menu2{
    background:url("https://clauem2.arrowtheme.com/media/mgs/fbuilder/promobanners/6/a/6a.png")no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;padding-left: 20px;
}

.line{
    width: 70px;
    border: 1px solid black;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
    
}

.food{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:20px
}

.picture p{
    color:#777;
}
img{
    height:auto;
    width:100%;
}

ul li{
    list-style-type: none;
    margin-top: 20px ;
}

a{
    margin-top: 100px;
    color:black;
    font-weight: bold;
}



